{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Financeiro{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'finance/css/global.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<header>
    Sistema Financeiro Sonoda - 2026
</header>

<nav>
    <a href="{% url 'finance:dashboard' %}">Dashboard</a>
    <a href="{% url 'finance:transactions' %}">Lançamentos</a>
    <a href="{% url 'finance:report' %}">Relatórios</a>
    <a href="{% url 'finance:all_transactions' %}">Tabela de Lançamentos</a>
    <a href="{% url 'finance:legends' %}">Legendas</a>
    <a href="{% url 'finance:all_logs' %}">Logs</a>

    {% if user.is_authenticated %}
    <span style="float:right; margin-right:10px;">
        Olá, {{ user.username }} |
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="logout-link">
                Sair
            </button>
        </form>
    </span>
{% else %}
    <a href="{% url 'login' %}" style="float:right;">Entrar</a>
{% endif %}
</nav>

<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>

{% block extra_js %}{% endblock %}
</body>
</html>
